{% load static %}

<!doctype html>
<html lang="es-ar">

<head>
    <title>{% block title %}Página de Inicio{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/png" href="{% static 'assets/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
        @theme {
        --Mi-color: #6290c3;
        --Mi-color2: #C2E7DA;
        --Mi-color3: #F1FFE7;
        --Mi-color4: #1A1B41;
        --Mi-color5: #BAFF29;
      }
    </style>
</head>

<body class="bg-[var(--Mi-color3)]">

    <header class="bg-[var(--Mi-color2)]">
        <nav class="px-2 py-3 flex items-center justify-between">
            <a href="{% url 'inicio' %}" class="flex items-center">
                <img src="{% static 'img/logo.png' %}" alt="Logo" class="h-16 md:h-18 lg:h-20">
            </a>

            <ul class="flex space-x-8 text-black font-medium">
                <li><a href="#" class="hover:text-[var(--Mi-color)]">Mi blog</a></li>
                <li><a href="{% url 'inicio' %}" class="hover:text-[var(--Mi-color)]">Inicio</a></li>
                <li><a href="#" class="hover:text-[var(--Mi-color)]">Lugares</a></li>
                <li><a href="#" class="hover:text-[var(--Mi-color)]">Historia</a></li>
                <li><a href="#footer" class="hover:text-[var(--Mi-color)]">Contacto</a></li>
            </ul>

            <ul class="flex space-x-4 text-black font-medium">
                {% if user.is_authenticated %}
                <li><span class="user-welcome">Hola, {{ user.username }}</span></li>
                {% if user.is_superuser %}
                <li><a class="menu-item" href="{% url 'accounts:admin_panel' %}">Ir a panel de admin</a></li>
                {% endif %}
                <li><a class="menu-item logout-btn" href="{% url 'accounts:profile' %}">Ver Perfil</a></li>
                <li><a class="menu-item logout-btn" href="{% url 'accounts:auth_logout' %}">Cerrar sesión</a></li>
                {% else %}
                <li><a class="menu-item" href="{% url 'accounts:auth_login' %}">Iniciar sesión</a></li>
                <li><a class="menu-item" href="{% url 'accounts:auth_register' %}">Registrarse</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block contenido %}

        {% endblock %}
    </main>

    <footer id="footer" class="bg-gray-200 border border-blue-500 py-4">
        <div class="max-w-7xl mx-auto px-6 flex flex-col items-center space-y-2">
            <p class="text-center text-black font-semibold">Información de contacto</p>

            <div class="flex justify-around w-full text-blackk">
                <div class="flex items-center space-x-2">
                    <img src="{% static 'img/instagram.png' %}" alt="Chacocultural" class="w-8 h-8 rounded">
                    <span>Chacocultural</span>
                </div>

                <div class="flex items-center space-x-2">
                    <img src="{% static 'img/facebook.png' %}" alt="Chacocultural" class="w-8 h-8 rounded">
                    <span>Chacocultural</span>
                </div>

                <div class="flex items-center space-x-2">
                    <img src="{% static 'img/whatsapp.png' %}" alt="numeroDeTelefono" class="w-8 h-8 rounded">
                    <span>3624252525</span>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>