{% load static %}

<!doctype html>
<html lang="es-ar">
<head>
    <title>{% block title %}Login{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/png" href="{% static 'assets/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}?v=1.3">

    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
      @theme {
        --Mi-color: #6290c3;
        --Mi-color2: #C2E7DA;
        --Mi-color3: #F1FFE7;
        --Mi-color4: #1A1B41;
        --Mi-color5: #BAFF29;
      }
    </style>
</head>

<body class="bg-[var(--Mi-color3)]">
<main>

<main>
    {% block contenido %}
    
    {% endblock %}
</main>
</html>
